{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ static('css/login.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility,visibility_off" />
{% endblock %}

{% block body %}
    <h2 class="form-title">Register</h2>
    <form method="post" class="register-form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p() }}
        <p>Already have an account. <a href="{{ url('login') }}">Log in</a>.</p>
        <button type="submit" class="submit-btn">Register</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ static('js/register.js') }}"></script>
{% endblock %}

