.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
    padding-block: 4px;
    padding-inline: 10px;
}

button[type="submit"] {
    margin-left: 10px;
    background: red;
}

button[type="submit"]:hover {
    background: rgb(223, 0, 0);
}