body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
    display: block;
}

form select,
form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0077A3;
}

.task-list {
    margin: 20px auto;
    width: 60%;
}

.task-item {
    background-color: #fff;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px;
}

.task-item > a {
    text-decoration: none;
    color: #008CBA;
    font-weight: bold;
    transition: color 0.3s ease;
}

.task-item > a:hover {
    color: #005F7F;
}

.task-item span {
    margin-left: 10px;
    color: #777;
}

.no-tasks {
    text-align: center;
    font-size: 20px;
    color: #777;
}

.edit {
    background: #008CBA;
    border: none;
    border-radius: 8px;
    padding-block: 4px;
    padding-inline: 10px;
    cursor: pointer;
}

.edit a {
    color: white;
    text-decoration: none;
    
}