{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ static('css/task_form.css') }}">
    <title>Manage Tasks</title>
{% endblock %}
{% block body %}
    <h1>Task Manager</h1>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p() }}
        {% if page == 'update' %}
            <a href="{{ url('task-delete', args=[task.pk]) }}">
                <button id="delete" type="button">
                    Delete
                </button>
            </a>
        {% endif %}
        <button type="submit">Update Task</button>
    </form>
{% endblock %}
