{% extends 'base.html' %}
{% block head %}
    <title>{{ task.title }} - Task Details</title>
    <link rel="stylesheet" href="{{ static('css/task_detail.css') }}">
{% endblock %}
{% block body %}
    <h1>{{ task.title }}</h1>
    <p><span class="label">Description:</span> {{ task.description }}</p>
    <p><span class="label">Status:</span> {{ task.status }}</p>
    <p><span class="label">Priority:</span>
        <span class="priority" style="background-color: {{ colors[task.priority] }};">{{ task.priority }}</span>
    </p>
    <p><span class="label">Due date:</span> {{ task.due_date }}</p>
    <p><span class="label">Creator:</span> {{ task.creator }}</p>
{% endblock %}
