{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ static('css/task_list.css') }}">
    <title>Task List</title>
{% endblock %}

{% block body %}
   <form method="get">
        {{ form.status.label_tag() }}
        {{ form.status }}
        <button type="submit">Фільтрувати</button>
    </form>

    <div class="task-list">
        {% for task in tasks %}
            <div class="task-item">
                <a href="{{ url('task-detail', args=[task.pk]) }}">{{ task.title }}</a>
                <span>{{ task.status }}</span>
                <span style="color: {{ colors[task.priority] }}">{{ task.priority }}</span>
                <button class="edit">
                    <a href="{{ url('task-update', args=[task.pk]) }}">Edit</a>
                </button>
            </div>
        {% else %}
            <div class="no-tasks">No tasks here</div>
        {% endfor %}
    </div>
{% endblock %}
