{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ static('css/task_delete.css') }}">
    <title>delete</title>
    <style>
        a {
         text-decoration: none;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Are you sure?</h1>
    <p>You will delete task:
        <a href="{{ url('task-detail', args=[object.pk]) }}">{{ object.title }}</a></p>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <a href="{{ url('task-list') }}">
            <button type="button">Back</button>
        </a>
        <button type="submit">Delete</button>
    </form>
{% endblock %}
