<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ static('css/style.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="{{ current('list') }}" href="{{ url('task-list') }}">My tasks</a></li>
                <li><a class="{{ current('create') }}" href="{{ url('task-create') }}">New task</a></li>
                {% if auth %}
                    <li><a class="{{ current('logout') }}" href="{{ url('logout') }}">Log out</a></li>
                {% else %}
                    <li><a class="{{ current('login') }}" href="{{ url('login') }}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>